* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #14120b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  height: 100vh;
  max-width: 940px;
  margin: 0 auto;
}

/* header design */
/* navbar styling */

.cursor-icon {
  width: 25px;
  height: 25px;
  margin-top: 4px;
}

.nav-icon {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 2px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #14120b;
}

.navbar-inner {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}

.navitems a {
  text-decoration: none;
  color: #c2c1c1;
  font-size: 10px;
}

.navitems a:hover {
  color: #8a8888;
}

.navitems ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-sign-in {
  background-color: #000000;
  color: #f4f3f3;
  border: 1px solid #5e5e5e;
  font-size: 10px;
  padding: 2px 7px;
  border-radius: 10px;
  cursor: pointer;
}

.nav-download {
  font-size: 10px;
  border: none;
  padding: 3px 8px;
  border-radius: 10px;
  cursor: pointer;
}

.nav-download:hover {
  background-color: #d3d2d2;
}

.nav-sign-in:hover {
  border: 1px solid #888888;
}

/* main section design starts from here */
/* hero section design */
.hero-container {
  color: #dbdbdb;
  margin-top: 7rem;
}

.hero-container h1 {
  font-weight: 100;
  font-size: 19px;
}

.h-button-container {
  margin-top: 20px;
}

.h-button {
  font-size: 11px;
  border: none;
  padding: 8px 11px;
  border-radius: 14px;
  cursor: pointer;
}

.h-button:hover {
  background-color: #d3d2d2;
}

.hero-snap {
  margin-top: 3rem;
}

#hero-image {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}

/* brand partner section design */

.brand-collab {
  margin-top: 3rem;
}

.brand-stack-container h2 {
  color: #c2c1c1;
  text-align: center;
  font-size: 11px;
  font-weight: 100;
  margin-bottom: 1rem;
}

.brand-logostack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 7.5px;
}

.brand-logo {
  background-color: #1d1b16;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-logo img {
  height: 60px;
  width: 60px;
  object-fit: contain;
}

.stripe img {
  width: 50px;
  height: 50px;
}

.figma img {
  width: 50px;
  height: 50px;
}

/* feature section design */

/* first feature card design */
#feature-card {
  margin-bottom: 4rem;
}

.feature-section {
  margin-top: 4rem;
}

.ft-card-image {
  width: 600px;
  height: 450px;
  display: block;
  object-fit: cover;
}

.ft-card {
  background-color: #1d1b16;
  padding: 10px 13px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 5px;
}

.ft-text-box {
  color: #dddddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.ft-link {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 10px;
  font-size: 12px;
  color: #ea6500;
}

.ft-text-box h3 {
  font-size: 1rem;
  font-weight: normal;
  color: #dedede;
  line-height: 1.4;
}

.ft-text-box .ft-desc {
  color: #8a8888;
  font-size: 1rem;
}

.ft-link span::after {
  margin-left: 5px;
  content: "->";
}

.ft-link:hover {
  color: #c25501;
}

.second-ft-text {
  margin-left: 2rem;
}

.ft-text-box .third-ft {
  padding-right: 1.7rem;
}

/* testimonial design */

#testimonial-section {
  margin-top: 5rem;
  padding: 4rem 1rem;
}

.testimonial-cards {
  color: #cfcbcb;
}

.testimonial-cards p {
  font-size: 11px;
  line-height: 1.5;
}

.testimonial-heading {
  margin: 0 1rem 2.5rem 1rem;
  color: #d7d6d6;
  text-align: center;
}

.testimonial-heading h2 {
  font-weight: 100;
}

.testimonial-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.tm-card {
  background-color: #1d1b16;
  padding: 12px;
  border-radius: 2px;
  min-height: 180px;
}

.tm-card figure {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tm-card .tm-icon {
  margin-top: auto;
  display: flex;
  align-items: center;
}

.tm-icon > div {
  margin-right: 11px;
}

figcaption div {
  font-size: 11px;
}

figcaption p {
  color: #727272;
}

.tm-img {
  height: 25px;
  border-radius: 2px;
}

/* use case section design */

#usecase-section {
  padding: 4rem 1rem;
}

.usercase-container {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.usecase-heading {
  text-align: left;
  color: #c2c1c1;
  margin-bottom: 1rem;
}

.usecase-heading h2 {
  font-weight: 100;
  font-size: large;
}

/* usecase container design */
.usecase-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.usercase-card-box {
  background-color: #1d1b16;
  color: #cfcbcb;
  padding: 12px;
  border-radius: 4px;
  min-height: 370px;
  display: flex;
  flex-direction: column;
}

.usecase-textarea {
  /* min-height: 120px; */
  display: flex;
  flex-direction: column;
  margin-bottom: 7px;
  gap: 10px;
}

.usecase-textarea h3 {
  font-size: 12px;
  font-weight: 100;
}

.usecase-textarea p {
  font-size: 12px;
  color: #888888;
  /* margin-top: 3px; */
  line-height: 1.4;
}

.usecase-textarea a {
  text-decoration: none;
  font-size: 12px;
  color: #cf3603;
}

.usercase-figure {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.usercase-figure img {
  max-width: 100%;
  height: auto;
}

.usecase-textarea a:hover {
  color: #af2d02;
}

/* ****************** changelog section ***************** */
#changelog-section {
  padding: 4rem 1rem;
}

.changelog-container {
  /* border: 1px solid red; */
}

.changelog-container h2 {
  color: #bdbdbd;
  font-weight: 100;
  font-size: larger;
  margin-bottom: 1rem;
}

.changelog-container a {
  text-decoration: none;
  font-size: 12px;
  color: #cf3603;
  display: block;
  margin-top: 1rem;
}

.changelog-articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
}

.log-article {
  padding: 15px;
  border-radius: 3px;
  background-color: #1d1b16;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.log-article p {
  color: #dddcdc;
  font-size: 12px;
}

.log-article div {
  color: #908d8d;
  font-size: 11px;
}

.log-article span {
  padding: 1px 7px;
  border: 1px solid #838282;
  margin-right: 5px;
  border-radius: 10px;
}

.log-article:hover {
  cursor: pointer;
  background-color: #22201a;
}
