* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #14120b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  height: 100vh;
  max-width: 940px;
  margin: 0 auto;
}

/* header design */
/* navbar styling */

.cursor-icon {
  width: 25px;
  height: 25px;
  margin-top: 4px;
}

.nav-icon {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 2px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #14120b;
}

.navbar-inner {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}

.navitems a {
  text-decoration: none;
  color: #c2c1c1;
  font-size: 10px;
}

.navitems a:hover {
  color: #8a8888;
}

.navitems ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-sign-in {
  background-color: #000000;
  color: #f4f3f3;
  border: 1px solid #5e5e5e;
  font-size: 10px;
  padding: 2px 7px;
  border-radius: 10px;
  cursor: pointer;
}

.nav-download {
  font-size: 10px;
  border: none;
  padding: 3px 8px;
  border-radius: 10px;
  cursor: pointer;
}

.nav-download:hover {
  background-color: #d3d2d2;
}

.nav-sign-in:hover {
  border: 1px solid #888888;
}

/* main section design starts from here */
/* hero section design */
.hero-container {
  color: #dbdbdb;
  margin-top: 7rem;
}

.hero-container h1 {
  font-weight: 100;
  font-size: 19px;
}

.h-button-container {
  margin-top: 20px;
}

.h-button {
  font-size: 11px;
  border: none;
  padding: 8px 11px;
  border-radius: 14px;
  cursor: pointer;
}

.h-button:hover {
  background-color: #d3d2d2;
}

.hero-snap {
  margin-top: 3rem;
}

#hero-image {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}

/* brand partner section design */

.brand-collab {
  margin-top: 3rem;
}

.brand-stack-container h2 {
  color: #c2c1c1;
  text-align: center;
  font-size: 11px;
  font-weight: 100;
  margin-bottom: 1rem;
}

.brand-logostack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 7.5px;
}

.brand-logo {
  background-color: #1d1b16;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-logo img {
  height: 60px;
  width: 60px;
  object-fit: contain;
}

.stripe img {
  width: 50px;
  height: 50px;
}

.figma img {
  width: 50px;
  height: 50px;
}

/* feature section design */

/* first feature card design */
#feature-card {
  margin-bottom: 4rem;
}

.feature-section {
  margin-top: 4rem;
}

.ft-card-image {
  width: 600px;
  height: 450px;
  display: block;
  object-fit: cover;
}

.ft-card {
  background-color: #1d1b16;
  padding: 10px 13px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 5px;
}

.ft-text-box {
  color: #dddddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.ft-link {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 10px;
  font-size: 12px;
  color: #ea6500;
}

.ft-text-box h3 {
  font-size: 1rem;
  font-weight: normal;
  color: #dedede;
  line-height: 1.4;
}

.ft-text-box .ft-desc {
  color: #8a8888;
  font-size: 1rem;
}

.ft-link span::after {
  margin-left: 5px;
  content: "->";
}

.ft-link:hover {
  color: #c25501;
}

.second-ft-text {
  margin-left: 2rem;
}

.ft-text-box .third-ft {
  padding-right: 1.7rem;
}
